.cafe{
    background: url("./image1.png");
    font: white;
    color: white;
}
.black_cafe{
    font: white;
    font-family: 'Playfair Display';
    
}
.catalogo{
    background: url("./Rectangle\ 20.png");
    color: white;
}
.acessorios{
    background: url("./Rectangle\ 21.png");
    color: white;
}
.BC{
    font-family: 'Playfair Display';
}
